@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F5F7FA;
    color: #333333;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #002E5D;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #004b8d;
    border-radius: 3px;
}
